In [6]:
from nba_api.stats.endpoints import playercareerstats
import pandas as pd

In [24]:
from nba_api.stats.static import players
nba_players = players.get_players()
lebron = [player for player in nba_players if player['full_name'] == 'LeBron James'][0]
lebron

{'id': 2544,
 'full_name': 'LeBron James',
 'first_name': 'LeBron',
 'last_name': 'James',
 'is_active': True}

In [83]:
def ppgBySeason(player_id):
    career = playercareerstats.PlayerCareerStats(player_id = player_id)
    pts = career.get_data_frames()[0]['PTS']
    gp = career.get_data_frames()[0]['GP']
    ppg = pts / gp
    seasons = career.get_data_frames()[0]['SEASON_ID']
    output = pd.DataFrame(ppg).set_index(seasons)
    output.columns = ['PPG']
    return output

In [84]:
ppgBySeason(lebron['id'])

                 PPG
SEASON_ID
2003-04    20.936709
2004-05    27.187500
2005-06    31.367089
2006-07    27.333333
2007-08    30.000000
2008-09    28.444444
2009-10    29.710526
2010-11    26.721519
2011-12    27.145161
2012-13    26.789474
2013-14    27.129870
2014-15    25.260870
2015-16    25.263158
2016-17    26.405405
2017-18    27.451220
2018-19    27.363636
2019-20    25.343284
2020-21    25.022222
2021-22    30.267857
2022-23    28.909091
2023-24    25.661972